/* General */
h1{
    font-size: 5.625rem;
    color: #ffff;
    margin-left: 6.25rem;
    margin-top: 3.125rem;
    padding-top: 3.125rem;
}
h3{
    color: #335576;
}

/* Destination Card */
.container_hawaii{
    background-image: url(../assets/hawaii.jpg);
    width: 100%;
    background-position: center;
    background-size: cover;
    height:58.125rem;
}

.container_iceland{
    background-image: url(../assets/iceland.jpg);
    width: 100%;
    background-position: center;
    background-size: cover;
    height:58.125rem;
}

.container_greece{
    background-image: url(../assets/greece.jpg);
    width: 100%;
    background-position: center;
    background-size: cover;
    height:58.125rem;
}

.container_destination_card{
    display: flex;
    justify-content: center
}

.container_card_block{
    background-color: #ffff;
    width: 20.625rem;
    height: 30rem;
    text-align: center;
    margin-right: 3.125rem;
    border-radius: 0.625rem;
    margin-top: 3.75rem;
   
}
.container_card_block:hover{
    box-shadow: 5px 5px 5px rgb(0,0,0,0.7);
}

.container_card{
    width: 18.75rem;
}

.container_card_list_title{
    text-align: center;
    border-bottom: 3px solid black;
    margin-bottom: 1.875rem;
    list-style: none;
    font-size: 1.563rem;
    font-weight: 700;
}

.container_card_list{
    text-align: center;
    font-weight: 400;
    padding: 0.938rem 0;    
    background-color: #FEFAF5;
    margin-top: 1.875rem;
    list-style: none;
    font-size: 1.25rem;
}