/*General*/

h2{
    font-size: 25px;
    color: #335576;
    margin-left: 150px;
}
h3{
    color: #335576;
}

/*Hero*/
.hero{
    display: flex;
    justify-content: space-between;
    background-color: #FEFAF5;
    padding: 150px;
    margin-top: 50px;
}
.h1-hero{
    font-size: 45px;
    color: #335576;
}
.hero-container{
    width: 750px;
    color: #335576;
    
}
p{
    font-size: 20px;
    margin-bottom: 50px;
}
.button{
    background-color: #DB7A4E;
    text-decoration: none;
    color: #ffff;
    font-size: 15px;
    margin-top: 40px;
    border-radius: 30px;
    border-style: none;
    padding: 10px 50px;
    height: 800px;
}
.button:hover{
    background-color: #d36239;
    transition: all;
    box-shadow: 0px 4px rgb(0, 0, 0, 0.4);
}
.img-hero{
    width: 30%;
    
}

/*Recommendations*/
.recommendations{
    margin-top: 50px;
    margin-bottom: 20px;
}
.rec-card--container{
   width: 2000px;
   position: relative;
   left: 400px;
   margin-top: 20px;
   flex-wrap: wrap;
}
.img-rec--card{
    width: 15%;
    border-radius: 5px;
    border: 1px solid rgba(0, 0, 0, 0.2);
    margin-right: 30px;
    box-shadow: 0px 4px rgb(0, 0, 0, 0.1);
}
.img-rec--card:hover{
    box-shadow: 4px 4px 4px #f3a17b;
}
.h2-rec-card{
    margin-bottom: 50px;
}
.h2-rec-card--hawaii{
    position: absolute;
    bottom: 10px;
    left: 40px;
    color: #ffff;
}
.h2-rec-card--iceland{
    position: absolute;
    bottom: 10px;
    left: 370px;
    color: #ffff;
}
.h2-rec-card--greece{
    position: absolute;
    bottom: 10px;
    left: 710px;
    color: #ffff;
}
